* {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    background-color: rgb(19, 28, 47);
    align-items: center;
}

.white-text {
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
}

.top-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Roboto Slab', serif;
    align-items: center;
    margin: 2rem 0;

    .logo-name {
        font-size: 1.5rem;
    }

    .preference-toggle {
        text-transform: uppercase;
        font-size: .75rem;
        letter-spacing: .25rem;
        display: flex;
        align-items: center;

        img {
            margin-left: 1rem;
        }
    }
}

.search-user {
    width: 100%;
}

.search-bar {
    background-color: rgb(30, 42, 72);
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;

    .search-input {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    img {
        padding: 0 1rem;
    }

    input {
        width: 100%;
        padding: .5rem;
        border: 0;
        background-color: rgb(30, 42, 72);
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.733);
        margin-right: 2rem;
    }

    ::placeholder {
        color: rgba(255, 255, 255, 0.733);
    }

    button {
        background-color: #0278ff;
        color: white;
        font-family: 'Roboto Slab', serif;
        font-size: 1.1rem;
        padding: .75rem 1.75rem;
        border-radius: 10px;
        border: none;
    }
}

.card {
    width: 100%;
    background-color: rgb(30, 42, 72);
    padding: 3rem;
    margin: 2rem 0;
    border-radius: 20px;
    display: flex;
    color: white;

    .icon-side {
        width: 30%;

        .icon-image img {
            width: 8rem;
            border-radius: 50%;
        }
    }
}

.info-side {
    width: 70%;

    .basic-profile {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .user-name {
            font-size: 1.5rem;
            letter-spacing: .25rem;
            padding: .25rem 0rem;
        }

        .login {
            padding: 1rem 0;
            color: #255fa9;
        }

        .user-address {
            padding: 1rem;
        }

        .right-profile {
            font-family: 'Roboto Slab', serif;
            color: rgba(255, 255, 255, 0.514);
            padding-top: .5rem;
        }
    }
    .profile {
        color:rgba(255, 255, 255, 0.493);
        font-family: 'Roboto Slab', serif;
    }
}


.repo-info {
    display: flex;
    margin: 2rem 0;
    padding: .5rem .5rem;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(19, 28, 47);
    border-radius: 20px;
    justify-content: space-around;

    .repos, .followers, .following {
        padding: 1rem 1rem;
        font-size: .9rem;
        color: rgba(255, 255, 255, 0.514);
    }

    .repo-number, .followers-number, .following-number {
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        padding-top: .5rem;
    }
}

.locaters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;

    & > * {
        width: 45%;
    }
}

.city, .url, .twitter, .company {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.603);
    word-break: break-all;
    font-family: 'Roboto Slab', serif;

    a {
        color: rgb(255, 255, 255);
    }

    img {
        padding: .5rem 1rem;
    }
}

@media (max-width: 800px) {
    body {
        margin: 0 1rem;
    }

    .card {
        flex-direction: column;
        padding: 2rem;

        .icon-side {
            width: unset;
        }

        .info-side {
            width: unset;
        }
    }

    .locaters {
        flex-direction: column;

        & > * {
            width: 100%
        }
    }
}
