

* {
    box-sizing: border-box;
}

:root {
    --bodyBackground: #ffffff;
    --bodyForeground: #333;
    --cardBackground: rgb(190, 190, 190);
    --transText: rgba(116, 116, 116, 0.836);
    --boxShadow: 5px 10px 20px #888888;
}

.darkMode {
    --bodyBackground: rgb(19, 28, 47);
    --bodyForeground: #ffffff;
    --cardBackground: rgb(30, 42, 72);
    --transText: rgba(255, 255, 255, 0.514);
    --boxShadow: none;
}


html {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

p {
    margin: 0rem 0rem;
    padding: 0rem;
}

body {
    display: flex;
    min-height: 250vh;
    justify-content: center;
    margin: 0px 0px; 
    background: var(--bodyBackground);
    color: var(--bodyForeground);
    font-family: 'Roboto Slab', serif;
    
}

.whiteText {
    color: var(--bodyForeground);
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    max-width: 50rem;
    margin: 6rem;
    
}

.topNav {
    width: 40rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Slab', serif;
    align-items: center;
    margin-bottom: 2rem;
    .logoName {
        font-size: 1.5rem;
    }
    .preferenceToggle {
        text-transform: uppercase;
        font-size: .75rem;
        letter-spacing: .25rem;
        display: flex;
        align-items: center;
        img {
            margin-left: 1rem;
        }
    }
    .light {
        display: none;
    }
    .dark {
        display: block;
    }
}

.searchBar {
    background: var(--cardBackground);
    width: 40rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
    box-shadow: var(--boxShadow);
    .searchInput {
        display: flex;
        align-items: center;
    }
    img {
        padding: 0 1rem;
    }
    input {
        padding: .5rem;
        border: 0;
        width: 20rem;
        background: var(--cardBackground);
        font-size: 1.5rem;
        color: var(--transText);
    }
    ::placeholder {
        color: var(--transText);
    }
    button {
        background-color: #0278ff;
        color: white;
        font-family: 'Roboto Slab', serif;
        font-size: 1.1rem;
        padding: .75rem 1.75rem;
        border-radius: 10px;
        box-shadow: none;
        border: none;
    }
}

#toggle:checked + button {
    background-color: #FFFFFF;
}

.card{
    width: 40rem;
    background: var(--cardBackground);
    padding: 3rem;
    margin-top: 2rem;
    border-radius: 20px;
    display: flex;
    color: var(--bodyForeground);
    box-shadow: var(--boxShadow);
    .iconSide {
        width: 30%;
        .iconImage img {
            width: 65%;
            border-radius: 100px;
        }
    }
    
.infoSide {
    width: 70%;
    .basicProfile {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .userName {
            font-size: 1.5rem;
            letter-spacing: .25rem;
            padding: .25rem 0rem;
            font-family: 'Roboto Slab', serif;
        }
        .login {
            font-family: 'Roboto Slab', serif;
            padding: 1rem 0;
            color: #255fa9;
        }
        .userAddress {
            padding: 1rem;
        }
        .rightProfile {
            font-family: 'Roboto Slab', serif;
            color: var(--transText);
            padding-top: .5rem;
        }
    }
    .profile {
        color: var(--transText);
        font-family: 'Roboto Slab', serif;
    }
}


.repoInfo {
    display: flex;
    margin: 2rem 0;
    padding: .5rem .5rem;
    font-family: 'Roboto Slab', serif;
    background: var(--bodyBackground);
    border-radius: 20px;
    justify-content: space-around;
    .repos, .followers, .following {
        padding: 1rem 1rem;
        font-size: .75rem;
        color: var(--transText);
    }
    .repoNumber, .followersNumber, .followingNumber {
        color: var(--bodyForeground);
        font-size: 1.5rem;
        padding-top: .5rem;
    }
}

.locaters {
    display: flex;
}

.leftLocator, .rightLocator {
    padding: 1rem 0rem;
}

.city, .url, .twitter, .company {
    display: flex;
    align-items: center;
    width: 13rem;
    max-width: 13rem;
    padding-right: 0 2rem;
    color: var(--transText);
    word-break: break-all;
    font-family: 'Roboto Slab', serif;
    font-size: .8rem;
    a:link {
        color: var(--bodyForeground);
    }
    img {
        padding: .5rem 1rem;
    }
}

}



// @media (prefers-color-scheme: dark) {
//     :root {
//     --bodyBackground: rgb(19, 28, 47);
//     --bodyForeground: #ffffff;
//     --cardBackground: rgb(30, 42, 72);
//     --transText: rgba(255, 255, 255, 0.514);
//     --boxShadow: none;
//     }

//     .topNav .light {
//         display: none;
//     }

//     .topNav .dark {
//         display: block;
//     }

// }



