* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-color: rgb(19, 28, 47);
  align-items: center;
}

.white-text {
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
}

.top-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Roboto Slab", serif;
  align-items: center;
  margin: 2rem 0;
}
.top-nav .logo-name {
  font-size: 1.5rem;
}
.top-nav .preference-toggle {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
  display: flex;
  align-items: center;
}
.top-nav .preference-toggle img {
  margin-left: 1rem;
}

.search-user {
  width: 100%;
}

.search-bar {
  background-color: rgb(30, 42, 72);
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
}
.search-bar .search-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.search-bar img {
  padding: 0 1rem;
}
.search-bar input {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  background-color: rgb(30, 42, 72);
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.733);
  margin-right: 2rem;
}
.search-bar ::placeholder {
  color: rgba(255, 255, 255, 0.733);
}
.search-bar button {
  background-color: #0278ff;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  padding: 0.75rem 1.75rem;
  border-radius: 10px;
  border: none;
}

.card {
  width: 100%;
  background-color: rgb(30, 42, 72);
  padding: 3rem;
  margin: 2rem 0;
  border-radius: 20px;
  display: flex;
  color: white;
}
.card .icon-side {
  width: 30%;
}
.card .icon-side .icon-image img {
  width: 8rem;
  border-radius: 50%;
}

.info-side {
  width: 70%;
}
.info-side .basic-profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.info-side .basic-profile .user-name {
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  padding: 0.25rem 0rem;
}
.info-side .basic-profile .login {
  padding: 1rem 0;
  color: #255fa9;
}
.info-side .basic-profile .user-address {
  padding: 1rem;
}
.info-side .basic-profile .right-profile {
  font-family: "Roboto Slab", serif;
  color: rgba(255, 255, 255, 0.514);
  padding-top: 0.5rem;
}
.info-side .profile {
  color: rgba(255, 255, 255, 0.493);
  font-family: "Roboto Slab", serif;
}

.repo-info {
  display: flex;
  margin: 2rem 0;
  padding: 0.5rem 0.5rem;
  font-family: "Roboto Slab", serif;
  background-color: rgb(19, 28, 47);
  border-radius: 20px;
  justify-content: space-around;
}
.repo-info .repos, .repo-info .followers, .repo-info .following {
  padding: 1rem 1rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.514);
}
.repo-info .repo-number, .repo-info .followers-number, .repo-info .following-number {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

.locaters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
.locaters > * {
  width: 45%;
}

.city, .url, .twitter, .company {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.603);
  word-break: break-all;
  font-family: "Roboto Slab", serif;
}
.city a, .url a, .twitter a, .company a {
  color: rgb(255, 255, 255);
}
.city img, .url img, .twitter img, .company img {
  padding: 0.5rem 1rem;
}

@media (max-width: 800px) {
  body {
    margin: 0 1rem;
  }

  .card {
    flex-direction: column;
    padding: 2rem;
  }
  .card .icon-side {
    width: unset;
  }
  .card .info-side {
    width: unset;
  }

  .locaters {
    flex-direction: column;
  }
  .locaters > * {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
